img {
  text-align: center;
}
body {
  text-align: center;
}
.bg-color {
  background-color: #eeeeee;
}
.bg-color {
  background-color: #7ee5da;
}
.bg-color {
  background-color: #70ccc2;
}
.bg-color {
  background-color: #62b3aa;
}
